@media(max-width:575px){
    .logo h2 {
        font-size: 25px;
    }
    nav ul li a {font-size: 14px;}
    .banner_section {
        flex-direction: column;
      }
      .health_banner h2 {font-size: 78px;}
      .change_content {
        flex-direction: column;
      }
      .easily_content p {
        font-size: 11px;
        width: none !important;

      }
      .habbit {
        width:500px;
      }
      .habbit p {width: 400px;}
      .easily_content h2 {font-size: 20px;}
      .team_content p {
        padding:0px;
      }
      .trainings_content p {width:400px;
    font-size: 15px;}
      .footer_container_content {
        flex-direction: column;
      }
    }