@media (min-width:300px) and (max-width:574px){
    .checkbtn{
        display: block;
      }
       .menu_btn{
        display: block;
      }
      #click:checked ~ .menu_btn::before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        margin:auto;
        width: 70%;
        height: 30vh;
        top:80px;
        left:-100%;
        text-align: center;
        display: block;
        background-color: #dc3f3f;
        margin-bottom: 30px;
      }
      nav ul li{
        margin: 10px 0px;
        display: block;
      }
      #click:checked ~ ul{
        left:0%;
        margin-bottom: 30px;
      }
      
      nav ul li a{
        font-size: 20px;
      }
      .banner_section{
        margin-top: 20px;
      }
    .health_banner{
        margin-left: 30px;
    }
    .health_banner p{
        font-size: 14px;
        width: 300px;
    }
    .health_banner h2{
        font-size: 30px;
        margin-top: 15px;
    }
    .banner_img img {
        width: 250px;
        margin-left: 20px;
        margin-top: 15px;
      }
    .habbit {
        width: 350px}
        .habbit h2{
            font-size: 25px;
        }
    .habbit p{
        width: 280px;
        font-size: 14px;
    } 
    .extra_container {
        flex-direction: column;
    }
    .team_img_one {
        flex-direction: column;
        padding: 10px;
        
    }
    .team_bell {
        width: 100%;
        margin-bottom: 15px;
}
.change_content_one {margin-bottom: 15px;}
.trainings_content p {
    width: 280px;
    font-size: 14px;
  }
.team_Cameron {width: 100%;
margin-bottom: 15px;}
.team_Darrell {width: 100%;margin-bottom: 15px;}
.Dianne {width: 100%;margin-bottom: 15px;}
.Cody {width: 100%;margin-bottom: 15px;}
.Theresa {width: 100%;}
.footer_content p {
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .easily_content p {width:300px; font-size: 16px;}
  .extra_img {width: 100%;}
  .footer_list h2 {
    font-size: 20px;}
    .footer_list ul li a {
        font-size: 15px;
      } 
      .footer_list {
        margin-bottom: 20px;
      }
      .footer_content p {
        width: 280px;
        font-size: 12px;}
}